@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    

    <main>
        <h1 class="nadpis">Онлайн магазин за ФОТОАПАРАТИ - SkobovCAM</h1>
        <h2 class="nadpis">Добре дошли!</h2>
        <div class="home">
            <img name="slide" src="images/foto2.jpg">
        </div>
        <script type="text/javascript" src="photo.js"></script>

    </main>
</div>